
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <a href= <%= cocktail_path(cocktail) %> >
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo %>)">

        <%= cocktail.name %>
        </div>
      </a>
    <%end %>
  </div>

